/*-----------------------COLOR------------------------------------*/
/*#fff4df-бежевый цвет*/
/*#87a96b-фисташковый*/
/*#968da7-лавандовый/*


/*--------------------GENERAL-SETTINGS--------------------*/

*{
    box-sizing: border-box;
}

html,
body {
    background-color: #fff4df;
    overflow-y: scroll;
    scrollbar-width: unset;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    opacity: 1;
}

a {
    text-decoration: none;
    color: #4F4C67;
}

p.title_for_section {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

/*HEADER*/
#header {
    background-image: url(/assets/images/fon/testFon.jpg);
    background-repeat: no-repeat;
    height: 760px;
}

.wrapper {
    margin: auto;
    padding: 18px;
    max-width: 75%;
}

/*--------MENU-------*/
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

#header .right_header {
    display: flex;
    align-items: center;
}

#header .menu_top {
    list-style-type: none;
}

#header .menu_top li {
    display: inline-block;
    margin-right: 50px;
}


#header .menu_top li a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    transition: color .4s ease;
}

#header .menu_top li a:hover {
    color: #85bd87
}

#header .number {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header .number p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

#header .number a {
    font-weight: 600;
    font-size: 14px;
}

/*--------------LOGO---------------------*/
#header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .logo p {
    font-weight: 600;
    font-size: 28px;
    color: #3c3c3c;
    margin: 0;
}

/*---------------HEADER_CONTENT------------------------*/

#header_content {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 150px;
    justify-content: right;
}

#header .content {
    max-width: 510px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7%;
}

#header .content .title p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 60px;
}

#header .content .description p {
    font-weight: 600;
    font-size: 16px;
}

#header .content .title span {
    border-bottom: 1px solid #85bd87;
}

/*---------------BUTTON-----------------------*/
#header_content .btn {
    width: 200px;
    border: 1px solid #8d8888;
    padding: 14px;
    background-color: #968da7;
    border-radius: 25px
}

a.btn {
    margin-top: 35px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/*----------------LINK---------------------*/

#header_content .links {
    display: flex;
    flex-direction: column;
}

#header_content .links .link {
    max-width: 32px;
    margin-top: 24px;
}

#header_content .links .link img {
    width: 100%;
}

/*--------------------------ABOUT ME--------------------*/

#about_me {
    height: 100%;
}

#about_me .wrapper {
    padding: 0 18px 18px 18px;
}

#about_me_content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

p.round {
    width: 75px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    border: 2px solid #968da7;
    border-radius: 50%;
    margin: 0;
}

p.title {
    text-transform: uppercase;
    color: #4F4C67;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin: 0 0 0 10%;
}

p.desc {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    max-width: 70%;
}

/*-----------COL-1--------------------------*/

#about_me_content .col-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

#about_me_content .col-1 .fresh {
    display: flex;
    flex-direction: row;
}

#about_me_content .col-1 .col-1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about_me_content .col-1 .testimg img {
    width: 100%;
}

/*-----------COL-2--------------------------*/

#about_me_content .col-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about_me_content .col-2 .natural {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about_me_content .col-2 .col-2_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about_me_content .col-2 .testimg {
    margin-left: 5%;
}

#about_me_content .col-2 .testimg img {
    width: 100%;
}

/*-----------COL-3--------------------------*/

#about_me_content .col-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about_me_content .col-3 .flexibility {
    display: flex;
    flex-direction: row;
}

#about_me_content .col-3 .col-3_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about_me_content .col-1 .testimg img {
    width: 100%;
}

/*-----------------КОМУ ПОДОЙДЕТ--------*/
#who_suit {
    background-image: url(/assets/images/fon/testrandomFon.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
}

#who_suit .wrapper{
    padding-top: 80px;
}

.row_who_suit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.elem p.who_description{
    max-width: 240px;
    text-align: center;
}

.btn.btn-primary {
	background: #87a96b; 
	border: #87a96b;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
}
.btn-up {
	position: fixed;
	right: 25px;
	bottom: 20px;
	z-index: 110;
}
.btn-up img {
	width: 25px;
    display: flex;
    align-items: center;
}

/*-------------CATALOG-------------------*/
section#catalog {
	padding-top: 100px;
}

section#catalog .categories{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

section#catalog input[type="radio"] {
	position: absolute;
	opacity: 0;
}

section#catalog .catalog-container label {
	display: inline-block;
	user-select: none;
	padding: 15px 25px;
	border: solid 2px #3d67b0;
	border-radius: 30px;
	cursor: pointer;
	color: #3d67b0;
	transition: .5s ease-in-out;
}

.catalog-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

section#catalog .catalog-container .c-card {
	width: 320px;
	border: solid 1px #e1e1e1;
	border-radius: 10px;
	margin-top: 25px;
}

section#catalog .catalog-container .c-card img {
	width: 90%;
	margin-top: 25px;
}

section#catalog .catalog-container .c-card .type span {
	display: inline-block;
	border-radius: 5px;
	background: #3d67b0;
	color: #fff;
	padding: 1px 7px;
	margin: 0 15px;
}

section#catalog .type {
	margin-top: 15px;
}

section#catalog .catalog-container .c-card .price-container {
	padding: 0 15px;
	margin-top: 15px;
}

.price-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section#catalog .card-body {
	padding: 25px;
}

section#catalog .catalog-container .c-card .price-container .price {
	color: #3d67b0;
	font-size: 20px;
}

input[type="radio"][id="giroscooters"]:checked ~ .electric_scooters, input[type="radio"][id="giroscooters"]:checked ~ .segways{
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
	position: absolute;
}
input[type="radio"][id="electric_scooters"]:checked ~ .giroscooters, input[type="radio"][id="electric_scooters"]:checked ~ .segways{
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
	position: absolute;
}
input[type="radio"][id="segways"]:checked ~ .electric_scooters, input[type="radio"][id="segways"]:checked ~ .giroscooters{
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
	position: absolute;
}
.catalog-container label {
	width:23%;
	float:left;
	text-align:center;
	background:#ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#222222;
	padding:0.5%;
	margin:0.5%;
	margin-bottom:30px;
	cursor:pointer;
}
input[type="radio"]:checked + label {
	background:#bfbfbf;
}  