@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        background-color: var(--color-beige);
        overflow-y: scroll;
        scrollbar-width: unset;
    }
    body{
        padding: 0;
        margin: 0;
        font-size: 16px;
        min-width: 320px;
        position: relative;
        line-height: 1.65;
        font-family: "Montserrat", sans-serif;
        overflow: hidden;
        opacity: 1;
    }
    header {
        max-width: 100%;
        display: block;
        background-color: #f5f5f5;
    }
    a {
        text-decoration: none;
        color: var(--color-main-text);
    }
    ul {
        list-style: none;
    }
    footer{
        max-width: 100%;
        display: block;
        background-color: #f5f5f5;
    }
}

@layer components {
    .wrapper {
        @apply max-w-[1200px] m-auto pr-2 pl-2
    }
}



/*-----------------------COLOR------------------------------------*/
/* :root {
    --color-beige: #fff4df;
    --color-pistachio: #87a97b;
    --color-lavender: #968da7;
    --color-main-text: #3c3c3c;
} */

/*--------------------GENERAL-SETTINGS--------------------*/

* {
    box-sizing: border-box;
}

/*---------------HEADER_CONTENT------------------------*/

.links {
    display: flex;
    flex-direction: column;
}

.links .link {
    max-width: 32px;
    margin-top: 12px;
}

.links .link img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*------------------BURGER_MENU--------------*/

.burger {
    height: 20px;
    position: relative;
    width: 30px;
}

.burger-line {
    display: flex;
    width: 30px;
    height: 2px;
    background: #3c3c3c;
    transition: .3s all ease;
}
.top-line{
    position: absolute;
    left: 0;
    top: 0;
}

.mid-line{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.bottom-line{
    position: absolute;
    left: 0;
    bottom: 0;
}

.burger.active > .top-line{
    transform: translateY(8px) rotate(45deg);
    transition: .3s all ease;
}

.burger.active > .mid-line {
    opacity: 0;
    transition: .3s all ease;
}

.burger.active > .bottom-line {
    transform: translateY(-10px) rotate(-45deg);
    transition: .3s all ease;
}


/*--------------------------ABOUT ME--------------------*/

#about_me{
    background-color: #f7f7f7;
}


p.round {
    width: 75px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    border: 2px solid var(--color-lavender);
    border-radius: 50%;
    margin: 0;
}

p.title {
    text-transform: uppercase;
    color: var(--color-lavender);
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin: 0 0 0 10%;
}

p.desc {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    max-width: 70%;
}

/*-------------CATALOG-------------------*/

.filter .button {
    border-style: none;
    background-color: transparent;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

.filter .button:last-child {
    margin-right: 0;
}

.filter .active {
    border-bottom: 1px solid green;
    transition: 1s ease all;
}

.filter .button:hover {
    border-bottom: 1px solid green;
}

 .card {
    transition: 0.5s all;
}

img.card_img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
}


.hide {
    display: none;
}

p.cake_name {
    margin-top: 5px;
    margin: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

p.price {
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
    display: block;
    max-width: 100%;
    height: auto;
}

.catalog__col {
    width: 25% /* Задаем ширину блока(по 4 блока в ряд)*/;
    margin: auto;
    }

    .descr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        color: #f5f5f5;
        text-align: center;
        padding: 10px;
        opacity: 0;
        transition: all .5s;
        display: block;
        z-index: 3;
    }
    
    
    div.descr_card:hover .descr{
        opacity: 1;
    }
    
    div.descr_card:hover .img{
        transform: scale(1.05);
    
    }
    
    div.descr_card .img {
        transition: all .4s ease;
        z-index: 2;
    }

/*----------slider-----------------*/

#fillings {
    background-color: #f5f5f5;
}

.slide-container{
    width: 100%;
    padding: 20px 0;
    align-items: center;
  }

  .swiper-navBtn{
    color: #87a97b;
    transition: color 0.3s ease;
  }

  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 14px;
  }
  .swiper-button-next{
    position: relative;
    right: 0;
  }
  .swiper-button-prev{
    position: relative;
    left: 0;
  }

  .swiper-pagination {
    max-width: 130px;
}

.swiper-button-next, .swiper-button-prev {
    width: auto;
    height: auto;
    margin-top: 0;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
    position: relative;
    background: #cfcdcd;

}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #87a97b;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}


  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
/*------------HOW ME WORK-------------*/

#how_me_work {
    background-color: #f7f7f7;
}

p.test{
    border-bottom: 2px solid #cfcdcd;
    color: #87a97b;
    position: relative;
    padding-bottom: 5px;
}

p.test:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 2px solid #87a97b;
    width: 20%;
  }

/*--------------photo_gallery-----------------------*/

#photo_gallery {
    background-color: #f5f5f5;
}
.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
}

.gallery__image:hover {
        transform: scale(1.1);
	}

.gallery__thumb {
	position: relative;	
    margin: 2px;
	overflow: hidden;
}
	
.gallery__image {
	display: block;
	width: 100%;
	transition: .3s;
    overflow: hidden;
}
img.gallery__image {
	width: initial;
    height: 100%;
    object-fit: cover;
}

/*--------------COMMENTS-----------------------*/
#comments {
    height: auto;
    width: 100%;
    background-size: cover;
}

#comments .wrapper {
    padding-top: 30px;
}

.comments_content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50%;
}

.testimonialBox {
    position: relative;
    width: 100%;
}

.box_content {
    display: flex;
    flex-direction: row;
}

.details {
    width: 50%;
    padding: 15px;
    margin-left: 10px;
}

.title_comment {
    font-weight: 600;
    font-size: 17px;
}

.comment_description {
    font-size: 15px;
}

.details_image {
    width: 50%;
    float: right;
    padding: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details_image img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 150px;
}

#application_form .btn {
    width: 200px;
    border: 1px solid var(--color-lavender);
    padding: 10px;
    background-color: var(--color-lavender);
    border-radius: 25px
}

#application_form a.btn {
    margin: 0;
}

#application_form {
    background: #ffffff;
    height: auto;
    width: 100%;
    background-size: cover;
}

#application_form .wrapper {
    padding-top: 100px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
}

.form_img {
    max-width: 50%;
}

.form_field {
    width: 350px;
    padding: 10px;
    margin: 5px;
}

input[type] {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid #635d5d;
    outline: 0;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}